<style>
            body {
                margin: 0;
            }
    
            header {
                text-align: center;
                background-color: black;
                color: white;
                padding: 10px;
            }
    
            .nav-container {
                text-align: center;
                margin-bottom: 20px;
                margin-top: 20px;
            }
    
            nav ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
    
            nav ul a {
                text-decoration: none;
                margin: 10px;
                color: black;
            }
    
            .left-container {
                text-align: left;
                margin-top: 20px;
                padding-left: 20px;
                float: left;
                width: 30%;
            }
    
            .left-container img {
                width: 100%;
            }
    
            .lorem-box {
                border: 5px solid #333;
                padding: 35px;
                margin-right: 20px auto;
                max-width: 100%;
                font-size: large;
            }
    
            .right-container {
                padding: 10px auto;
                width: 70%;
                margin: 0% ;
                margin-top: -860px ;
                display: flex;
                flex-direction:row ;
                text-align: right;
                float: right;
                text-align: left;
                height: 0px;
                font-size: large;
            }
    
            #right-header {
                text-align: center;
                font-size: 24px;
                margin-top: 20px;
                padding: 10px;
                background-color: black;
                color: white;
            }
    
            .building-section.right-column {
                width: 100%;
                margin: 10px ;
                margin-left: 5%;
                display: inline-block;
                padding: 10px;
                box-sizing: border-box;
            }
    
            footer {
                text-align: center;
                padding: 10px;
                background-color: black;
                color: white;
                clear: both;
            }
    
            .additional-content {
                width: 40%;
                margin-top: 20px;
                padding-right: 20px;
            }
        </style>
